body{
    margin: 0;
    padding: 20px;

}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap:12px;
    height: 100vh;
}
.container div {
  background: pink;
  border: 2px solid white;
  font-size: 18px;
  padding: 10px;
}
.header {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}
.nav {
  grid-column: 4 / 10;
  grid-row: 2 / 3;
}
.main {
  grid-column: 4 / 10;
  grid-row: 3 / 12;
}
.ads {
  grid-column: 10 / 13;
  grid-row: 2 / 12;
}
.footer {
  grid-column: 1 / 13;
  grid-row: 12 / 13;
}
.sidebar {
  grid-column: 1 / 4;
  grid-row: 2 / 12;
}
@media (max-width: 720px) {

  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .header {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }

  .nav {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
  }

  .sidebar {
    grid-column: 1 / 4;
    grid-row: 3 / 12;
  }

  .main {
    grid-column: 4 / 13;
    grid-row: 3 / 12;
  }

  .ads {
    grid-column: 1 / 4;
    grid-row: 12 / 13;
  }

  .footer {
    grid-column: 4 / 13;
    grid-row: 12 / 13;
  }
}

.loader {
border: 16px solid #f3f3f3;
border-top: 16px solid goldenrod;
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% {
    transform:rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

